$margin: 12px;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("./images/mountain.jpg");
    background-position: center;
    //background-repeat: no-repeat;
    text-align:center;
    letter-spacing: 4px;
    font-size:18px;
    font-family: 'Source Sans Pro', sans-serif;
    height:100vh;
    .container{
        height:100vh;
        display:flex;
        flex-direction: column;
        justify-content: space-around;        
        .main-part{
            height:350px;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            h1{
                color:#142850;
                font-size:56px;
            }
            .form-box{
                width:600px;
                height:200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                label{
                    margin-bottom: $margin;
                    font-size:32px;
                    color:#000839;
                }
                input {
                    padding:6px 2px;
                    outline:none;
                    width: 400px;
                    background: transparent;
                    border: 0;
                    border-bottom: 1px solid black;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 400;
                    font-weight: 300;
                    color:#faf4f4;
                }
                button{
                    margin-top:calc(#{$margin} + 15px);
                    padding:6px 36px;
                    border:1px solid black;
                    border-radius: 10px;
                    background: transparent;
                    cursor:pointer;
                    font-size:inherit;
                    letter-spacing: 2px;
                    &:hover{
                        background-color: #f0f0f0;
                        transition: all 0.2s;
                        border:1px solid transparent;
                    }
                }
            }
        }
    }
    .footer{
        color:#fff;
    }
}
